/*Accueil*/

/*bouton-racourcis en dessous de l'image (le second header)*/

.bouton-cta {
  display: flex;
  justify-content: center;
  gap: 250px;
  font-size: 25px;
  padding: 5px;
}


.bouton-cta a {
  text-decoration: none;
  margin-top: 50px;
  color: black;
  background-color: #F1F1DC;
  border-radius: 40px;
  padding: 10px;
}

.bouton-cta.bouton-cta a:hover{
  color: white;
  background-color: var(--color);

}

.nav-centrale {
  background-color: #F1F1DC;
  display: flex;
  justify-content: center;
  gap: 200px;   
  padding: 50px;
}

.billet{
  


}


.nav-centrale a {
  color : black;
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
}

.nav-centrale.nav-centrale a:hover{
  text-decoration: underline;
  color: var()
}


/*biographie du musée */

.mise_en_page_bio{
  display: flex;
}

.mise_en_page_bio img{
  width: 600px;
  height: 400px;
}

.mise_en_page_bio p{
  font-style: italic;
}
/*section exposition en cours*/
.article{
  display: flex;
  justify-content: center;
}

.image-top-left{
  order: 2;
}

.article h5{
  margin-bottom: 20px;

}
.article p{
  margin-top: 20px;
}