/*Accueil*/

/*bouton-racourcis en dessous de l'image (le second header)*/

.bouton-cta {
  display: flex;
  justify-content: center;
  gap: 250px;
  font-size: 25px;
  padding: 5px;
  align-items: center;
}


.bouton-cta a {
  text-decoration: none;
  margin-top: 50px;
  color: black;
  background-color: #F1F1DC;
  border-radius: 40px;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.bouton-cta a img{
  margin: 0px;
}

.bouton-cta.bouton-cta a:hover{
  color: white;
  background-color: var(--color);

}

.nav-centrale {
  background-color: #F1F1DC;
  display: flex;
  justify-content: center;
  gap: 200px;   
  padding: 50px;
}



.nav-centrale a {
  color : var(--color);
  text-decoration: ;
  font-weight: bold;
  font-size: 25px;
}

.nav-centrale.nav-centrale a:hover{
  color: #000000;
}


/*biographie du musée */

.mise_en_page_bio{
  display: flex;
}

.mise_en_page_bio img{
  width: 600px;
  height: 400px;
}

.mise_en_page_bio h2{
  margin-bottom: 20px;
}

.mise_en_page_bio p{
  font-style: italic;
}
/*section exposition en cours*/
.article{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.legende{
  display: flex;
  margin-left: 80px;
  text-align: right;
}

.article h5{
  margin-bottom: 20px;

}
.article p{
  margin-top: 20px;
}