/*Accueil*/

/*bouton-racourcis en dessous de l'image (le second header)*/

.bouton-cta {
  display: flex;
  justify-content: center;
  gap: 250px;
  font-size: 25px;
  padding: 5px;
  align-items: center;
}


.bouton-cta a {
  text-decoration: none;
  margin-top: 50px;
  color: black;
  background-color: #F1F1DC;
  border-radius: 40px;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.bouton-cta a img{
  margin: 0px;
}

.bouton-cta.bouton-cta a:hover{
  color: white;
  background-color: var(--color);
}

.nav-centrale {
  background-color: #F1F1DC;
  display: flex;
  justify-content: center;
  gap: 100px;   
  padding: 50px;
}



.nav-centrale a {
  color : var(--color);
  font-weight: bold;
  font-size: 25px;
}

.nav-centrale.nav-centrale a:hover{
  color: #000000;
}


/*biographie du musée */

.mise_en_page_bio{
  display: flex;
  gap: 80px;
}

.mise_en_page_bio img{
  max-width: 600px;
  width: 30%;
  /* max-height: 400px; */
}

.mise_en_page_bio h2{
  margin-bottom: 20px;
}

.mise_en_page_bio p{
  font-style: italic;
}
/*
.container {
  display: flex;
  gap: 50px
  
}*/

@media screen and (max-width: 1080px) {
  .mise_en_page_bio{
    flex-direction: column;
    gap: 40px;
  }
  .mise_en_page_bio img {
    width: 100%
  }
  .mise_en_page_bio h2 {
    font-size: 20px;
  }
  .mise_en_page_bio p {
    font-size: 16px;
  
}

@media screen and (max-width: 1080px) {
  .bouton-cta{
    flex-direction: column;
    gap: 0px;
    margin-bottom: 10px;
  }
  .nav-centrale{
    display: none;
  }
}

/*section exposition en cours*/
.article{
  display: flex;
  justify-content: center;
  gap: 100px;
}

.legende{
  display: flex;
  margin-left: 0px;
  text-align: right;
}

.article h5{
  margin-bottom: 20px;

}
.article p{
  margin-top: 20px;
}

@media screen and (max-width: 1080px) {
  main h3 {
    font-size: 32px;
  }
  .article {
    flex-direction: column;
    gap: 40px
  }
  .article h2{
    font-size: 24px;
  }
  .article h4{
    font-size: 20px;
  }
  .article h5{
    font-size: 15px;
  }
  .article h6{
    font-size: 12px;
  }
  .article p{
    font-size: 16px;
  }
  .order-mobile {
    order:3;
  }
}
}