footer {
 
    flex-direction: column;
    background-color: var(--color);
    border-top-left-radius: 30%;
    padding-top: 60px;
}
.footer-top {
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-bottom: 60px;
}

.footer-bot {
    background-color: #013D0F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bot p{
    color: #FBBC04;
    margin-top: 0px;
}

footer h2 {
    font-size: 24px;
    color: var(--background-color);
}

footer p {
    margin-top: 20px;
    color: var(--background-color);
}

footer a {
    color: var(--background-color);
    display: block;
}
.Appleimg{
    display: flex;
    justify-content: center;
    gap: 10px;
}


footer section {
    margin-top: 20px;
}

@media screen and (max-width: 1080px){
.footer-top {
   flex-direction: column ;
   border-top-left-radius: none;

}
}

@media screen and (max-width: 1080px){
    .footer-bot {
        flex-direction: column ;
    }
}