footer {
    background-color: var(--color);
    /*border-top-left-radius: 25%;*/
    color: var(--background-color);
}

footer h2 {
    font-size: 24px;
    color: var(--background-color);
}

footer p {
    color: var(--background-color)
}

footer a {
    color: var(--background-color)
}