.marge{
    margin : 80px;
}

@media screen and (max-width: 1080px){
.marge {
    margin: 30px;
}}

/* breadcrumb */
.fil-ariane{
    display: flex;
    justify-content: left;
}


.fil-ariane nav{
    padding-left: 10px;
    padding-right: 20px;
    border: none;
    border-top-right-radius: 40px;
    background-color: var(--color);

}

.fil-ariane img{
    width: 30px;
}

.fil-ariane ul{
    display: flex;
    gap: 2px;
    margin-top: 15p;
    color: rgb(221, 210, 210);
}

.fil-ariane a{
    color: rgb(221, 210, 210);
    list-style-type:none;
    text-decoration: none;
}

h1{
    color: var(--color);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}



main div img{
    border-top-left-radius: 25%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 25%;
}

.carr-fleches{
    display: flex;
    justify-content: flex-end;
}

.carr-images .slider {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
}

.carr-autre {
    justify-content: center;
    align-items: center;
    opacity: 50%;
    height: 250px;
    width: 350px;
}

h2{
    margin: 60px 0px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 100px;
}


.tresor img{
    max-width: 470px;
    width: 30%;
    border-top-left-radius: 25%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 25%;
}

.athena img{
    max-width: 370px;
    width: 30%;
    border-top-left-radius: 25%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 25%;
}

/*
main article img, main div img{
    margin-left: 0px;
    margin-right: 100px;
    border-top-left-radius: 25%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 25%;
}*/

.athena img{
    order: 2;
}

@media screen and (max-width: 1080px){
    h1 {
        font-size: 40px;
        text-align: center;

    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    .order-mobile {
    order:3;
    }
    article{
        flex-direction: column;
        gap: 40px
    }
    .athena img{
        width: 100%
    }
    .tresor img{
        width: 100%
    }
}
