.marge{
    margin : 80px;
}

.fil-ariane{
    display: flex;
    justify-content: left;
}

.fil-ariane nav{
    padding-left: 10px;
    padding-right: 20px;
    border: none;
    border-top-right-radius: 40px;
    background-color: var(--color);

}

.fil-ariane img{
    width: 30px;
}

.fil-ariane ul{
    display: flex;
    gap: 2px;
    margin-top: 15p;
    color: rgb(221, 210, 210);
}

.fil-ariane a{
    color: rgb(221, 210, 210);
    list-style-type:none;
    text-decoration: none;
}


h1{
    color: var(--color);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

div img{
    border-top-left-radius: 25%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 25%;
}

.carr-fleches{
    display: flex;
    justify-content: flex-end;
}

.carr-images {
    display: flex;
}

.carr-autre {
    justify-content: center;
    align-items: center;
    opacity: 50%;
    height: 250px;
    width: 350px;
}

h2{
    margin: 60px 0px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.tresor img{
    margin-right: 100px;
    border-top-left-radius: 25%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 25%;
}

.athena img{
    margin-left: 100px;
    border-top-left-radius: 25%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 25%;
}

/*
main article img, main div img{
    margin-left: 0px;
    margin-right: 100px;
    border-top-left-radius: 25%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 25%;
}*/

.athena img{
    order: 2;
}