.marge{
    margin : 80px;
}

@media screen and (max-width: 1080px){
.marge {
    margin: 30px;
}}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Accueil*/
.accueil {
  background-image: url(/assets/images/museesaintecroix.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*photo du musée*/

body {
  font-family: "Glory", sans-serif;
  background-color: rgb(251, 251, 244);
}

/* images */

.image-leaf{
  border-top-left-radius: 25%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 25%;
}

.image-top-left {
  border-top-left-radius: 25%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.image-top-right {
  border-top-left-radius: 0%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

