.marge{
    margin : 80px;
}



/*Accueil*/
.accueil {
  background-image: url(/assets/images/museesaintecroix.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*photo du musée*/

body {
  font-family: "Glory", sans-serif;
}

/* images */


.image-leaf{ 
  margin-left: 80px;
  margin-right: 100px;
  border-top-left-radius: 25%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 25%;
}

.image-top-left {
  margin-left: 80px;
  margin-right: 100px;
  border-top-left-radius: 25%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.image-top-right {
  margin-left: 80px;
  margin-right: 100px;
  border-top-left-radius: 0%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}